body {
    margin: 0;
}

[data-stage="1"] {
    background-image: url("bg-1.jpg");
}

[data-stage="2"] {
    background-image: url("bg-2.jpg");
}

[data-stage="3"] {
    background-image: url("bg-3.jpg");
}

.big {
    font-size: 36px;
}

.click {
    cursor: pointer;
}

.container {
    background-color: white;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px auto 0 auto;
    max-width: 768px;
    padding: 20px;
    text-align: justify;
}

.container h1 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

.container div {
    word-wrap: break-word;
}

.fluid {
    max-width: 100%;
}

.input {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
}

.input .input-box {
    display: flex;
    gap: 5px;
}

.input .input-box button,
.input .input-box input {
    font-size: 16px;
    padding: 5px;
}

.input .input-box input {
    flex-grow: 1;
}

.input #salah {
    color: red;
    display: none;
}

@media (max-width: 767.98px) {
    .input {
        bottom: 0;
        left: 0;
        padding: 10px;
        position: fixed;
    }

    .input #salah {
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    .input {
        align-items: center;
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    .input .input-box input {
        min-width: 300px;
    }
}

.mb {
    margin-bottom: 15px;
}

.med {
    font-size: 24px;
}

.meme,
.meme::before,
.meme::after {
    height: 0;
    width: 0;
    border-left: 37.5px solid transparent;
    border-right: 37.5px solid transparent;
    border-bottom: 64.95px solid #FEDD31;
    line-height: 0;
}

.meme {
    margin-left: 37.5px;
    margin-right: 37.5px;
    position: relative;
}

.meme::before,
.meme::after {
    content: "";
    position: absolute;
    top: 64.95px;
}

.meme::before {
    left: -75px;
}

.monospace {
    font-family: monospace;
}

#abc {
    color: white;
}

#jawaban {
    text-transform: lowercase;
}

::placeholder {
    text-transform: none;
}